/* Non-Active player */

.player--nonActive {
  /* Dimensions: */
  width: 10rem;
  height: 10rem;
  padding: 0rem 0rem;
  /* Position */
  position: absolute;
  top: 7rem;
  right: 6%;
  background-color: rgb(111, 214, 111);
  border-radius: 2rem;
}

.player--nonActive .current {
  display: none;
}
.player--nonActive .name {
  font-size: 1.3rem;
}
.player--nonActive .score {
  font-size: 4rem;
}

/* Active player  */
body {
  background-color: rgba(203 240 203);
}
.player--active {
  background-color: rgba(203 240 203);
}
.player--winner {
  background-color: #2f2f2f;
}

.name {
  font-size: 2.5rem;
  top: 19%;
}
.score {
  position: relative;
  top: 13%;
}
.btn {
  font-size: 1.3rem;
}
.dice {
  left: 27%;
  top: 53%;
  height: 7rem;
}
.btn--roll {
  top: 30.3rem;
  left: 81%;
}
.btn--hold {
  top: 46rem;
  left: 81%;
}
.btn--new {
  left: 25%;
}

.current {
  width: 55%;
  padding: 0rem;
  margin-bottom: -8%;
  margin-left: -75%;
}
